*{
    margin: 0;
    padding: 0;
}

    

div.cover{
    background-image: url(./coverimage.avif);
    background-size: cover;
    display: flex;
    
}

div.container{
border: 10px ;
box-shadow: #00000040 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-color:#fdfcdc;  
width: 1000px;
margin-left: 80px;
padding: 10px;
display:flex;
flex-direction: row;
justify-content: center;

    
}

div.item1 , div.item2 , div.item3{

background-color:#faedcd; 

width: 500px;
padding: 20px;

}
/* item1 css only */
div.space{
    height: 400px;
}

    
div.circle{
    background-color:#5c00007c ;
    width: 200px;
     height:200px;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: circle 3s linear 2s infinite normal;
}
div.contentcircle{
    font-family: 'Great Vibes', cursive;
    font-size:40px;
    font-weight: 500;
    text-align: center;
    border: 2px dashed white;
    color: whitesmoke;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    line-height: 1;
    
    
    
}
div.text{
    color: whitesmoke;
    font-family: 'Great Vibes', cursive;
    font-size:40px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 168px;
    right: 30px;
}
   

div.item1{
   background-image: url(./christmas.avif);
   background-size:cover ;


}
@keyframes circle{
    from{transform: rotate(0deg);}
    to{transform:rotate(45deg) ;} 
}
     
   /* for item2 css  */
div.item2{
color:#540b0e;
display: grid;
justify-items: center;
align-items: center;
font-weight: 700;
background-image: url(./letter2.jpg);
background-size:cover; 

}



div.about>h2 , div.application>h2 {
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    text-decoration:underline ;
    
}
 div.list h3{
    font-size: 25px;
    font-weight: 700;
 }
 div.item2 p {
    font-size: 20px;
 }
 div.about, div.application{
    background-color: #ecf39e2c;
    width: 300px;
    border-radius: 5%;
    
 }
/* for item3 styling */
div.item3{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-weight: 400;
    background-image: url(./lights.avif);
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

div.letter{
    height: 800px;
    padding: 19px;
    border: 3px solid whitesmoke;
    background-color:#540b0d44;
    font-size: 30px;
    transition: font-size 2s ease-in-out 0;
    
    
}
div.letter:hover{
   color:#ffcfd2;
   font-size:32px ;
   border: 3px dashed whitesmoke;
}
div.logo{
    background-color: rgba(245, 245, 245, 0.904);
    color: #540b0e;
    width:235px ;
    text-align: center;
    
    position: relative;
    bottom: 45px;
   
}

div.logo>a{
    color: #4b0608;
    text-decoration: none;
}
div.logo>h3{
    font-size: 40px;
    padding-top: 5px;
}
div.logo>a:hover{

    color:rgb(134, 31, 48);
    font-size: 40px;
    text-decoration: underline;

}

/* @media ( min-width: 495px)and(max-width:712px) {
    div{
        font-size:20px;
    }
} */
/* for the outer most div.christmas */
div.christmas{
    text-align: center;
    margin:  180px;
    font-size: 100px;
    color:#faedcd;
    font-family: 'Cookie', cursive;
font-family: 'Fugaz One', sans-serif;
font-family: 'Great Vibes', cursive;
     border: #fdfcdc 5px solid ;
     border-radius: 50%;
    height: 300px;
    width:300px ;
    padding: 50px;
    background-color: #4b0608;
    animation:music 5s ease-in-out 1s infinite alternate ;

}
@keyframes music {
    from {transform:scale(0.5) }
    to {transform:scale(1)}
    
}


      



    
